*, *::before, *::after{
	box-sizing: border-box;

}

body{
	background-color: #0C88E7;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

}
.piano{
	display: flex;
}
.key{
	height: calc(var(--width) * 4);
	width: var(--width);
	text-align: center;
	font-family: Times, sans-serif;
	font-weight: 800;

}
.white{
	--width:  100px;
	background-color: #fff; 
	border: 1px solid #000;

}
.white.active{
	background-color: #ccc; 
}
.black{
	--width: 60px;
	background-color: #000;
	margin-left: calc(var(--width) / -2);
	margin-right: calc(var(--width) / -2);
	z-index: 2;
	color: #fff;
}
.black.active{
	background-color: #333; 
}